#blabla {
  text-shadow: 2px 2px 7px darkgray;
  border: 2px dashed darkblue;
}

.first-paragraph {
  border: 2px dashed darkblue;
}

body {
  background-color: beige;
}

[type="text"],
[type="number"],
[type="submit"] {
  padding: 8px;
}
