* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#blabla {
  text-shadow: 2px 2px 7px darkgray;
  border: 2px dashed darkblue;
}

.dashed-border {
  border: 2px dashed darkblue;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

body {
  background-color: beige;
}

button {
  border: none;
  box-shadow: 3px 3px 7px rgb(90, 90, 90);
  cursor: pointer;
}

[type="text"],
[type="number"],
[type="submit"] {
  padding: 8px;
}
